.parent-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity linear 0.5s;
}

.parent-container:target {
  visibility: visible;
  opacity: 1;
}

.modal-container {
  border-radius: 8px;
  width: 500px;
  height: auto;
  min-height: 300px;
  background-color: white;
  max-height: 70%;
}
