<ng-container *ngIf="pokemons$ | async">
  <div class="container">
    <h2 class="header">
      Danh sách Pokemon
    </h2>
    <div class="filter-container">
      <select [(ngModel)]="filter().sort" class="select" (ngModelChange)="onChangeSort($event)">
        <option [value]="item.value" *ngFor="let item of listSort">{{item.label}}</option>
      </select>
      <select class="select" [(ngModel)]="filter().sortBy" (ngModelChange)="onChangeSortBy($event)">
        <option [value]="item.value" *ngFor="let item of sortByOptions">{{item.label}}</option>
      </select>
    </div>
    <div class="table-container">
      <table class="table" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="tr-header-table">
            <th class="th-item">Tên</th>
            <th class="th-item">Máu</th>
            <th class="th-item">Phòng thủ</th>
            <th class="th-item">Phòng thủ đặc biệt</th>
            <th class="th-item">Tấn công đặc biệt</th>
            <th class="th-item">Tấn công</th>
            <th class="th-item">Tốc độ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of listPokemons()" class="tr-body-table">
            <td class="td-item">{{pokemon.name}}</td>
            <td class="td-item">{{pokemon.hp}}</td>
            <td class="td-item">{{pokemon.defense}}</td>
            <td class="td-item">{{pokemon.sp_def}}</td>
            <td class="td-item">{{pokemon.sp_atk}}</td>
            <td class="td-item">{{pokemon.attack}}</td>
            <td class="td-item">{{pokemon.speed}}</td>
          </tr>
        </tbody>
        <tfoot class="table-footer">
          <tr>
            <td>
              <label for="pageSize">Hiển thị</label>
              <select id="pageSize">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <label for="pageSize">mục</label>
            </td>
            <td>
              <div class="page-navigation">
                <button>Trước</button>
                <span class="page-index">3 / 4</span>
                <button>Sau</button>
              </div>
            </td>
          </tr>
          <!-- <div class="page-size">
            <label for="pageSize">Hiển thị</label>
            <select id="pageSize">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <label for="pageSize">mục</label>
          </div>

          <div class="page-navigation">
            <button>Trước</button>
            <span class="page-index">3 / 4</span>
            <button>Sau</button>
          </div> -->
        </tfoot>
      </table>
    </div>
  </div>
</ng-container>