<link rel="preconnect" href="https://api.vandvietnam.com">
<ng-container *ngIf="pokemons$ | async">
  <div class="container">
    <h2 class="header">
      Danh sách Pokemon
    </h2>
    <div class="filter-container">
      <select [(ngModel)]="filter()['filter[type]']" class="select select-filter-type"
        (ngModelChange)="onChangeFilterType($event)">
        <option value="" selected>Lọc theo hệ</option>
        <option [value]="item.value" *ngFor="let item of typeOfPokemon">{{item.label}}</option>
      </select>
      <div class="group-select-pokemon">
        <select [(ngModel)]="filter().sort" class="select select-sort" (ngModelChange)="onChangeSort($event)">
          <option [value]="item.value" *ngFor="let item of listSort">{{item.label}}</option>
        </select>
        <select class="select select-sort-by" [(ngModel)]="filter().sortBy" (ngModelChange)="onChangeSortBy($event)">
          <option [value]="item.value" *ngFor="let item of sortByOptions">{{item.label}}</option>
        </select>
      </div>
    </div>
    <div class="table-container">
      <table class="table-header hidden-by-mobile" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="tr-header-table">
            <!-- <th class="th-item">avatar</th> -->
            <th class="th-item">Tên</th>
            <th class="th-item">Máu</th>
            <th class="th-item">Phòng thủ</th>
            <th class="th-item">Phòng thủ đặc biệt</th>
            <th class="th-item">Tấn công đặc biệt</th>
            <th class="th-item">Tấn công</th>
            <th class="th-item">Tốc độ</th>
          </tr>
        </thead>
      </table>
      <div class="container-table-body tds-custom-scroll">
        <table class="table-body" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <ng-container *ngFor="let pokemon of dataPokemons()?.data">
              <tr class="tr-body-table" (click)="idModal = pokemon.id">
                <!-- <td class="td-item">
                  <img [ngSrc]="'https://api.vandvietnam.com/api/pokemon-api/pokemons/'+pokemon.id+'/sprite'" alt="avatar"
                    [width]="96" [height]="96" ng-optimized-image priority>
                </td> -->
                <td class="td-item primary font-semibold">
                  <div class="title-td-item">
                    Tên:
                  </div>
                  {{pokemon.name}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Máu:
                  </div> {{pokemon.hp}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Phòng thủ:
                  </div> {{pokemon.defense}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Phòng thủ đặc biệt:
                  </div> {{pokemon.sp_def}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Tấn công đặc biệt:
                  </div> {{pokemon.sp_atk}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Tấn công:
                  </div> {{pokemon.attack}}
                </td>
                <td class="td-item">
                  <div class="title-td-item">
                    Tốc độ:
                  </div> {{pokemon.speed}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="table-footer">
        <div class="left-table-footer">
          <div>
            <div class="page-navigation">
              <button class="btn btn-primary btn-animation-click"
                (click)="changePageIndex(filter()['page[number]']-1)">Trước</button>
              <span class="page-index">{{filter()!['page[number]'] || 1}} / {{
                +dataPokemons()?.meta!.last_page ||
                1}}</span>
              <button class="btn btn-primary" (click)="changePageIndex(filter()['page[number]']+1)">Sau</button>
            </div>
          </div>
          <div class="page-size-option">
            <div class="hidden-by-mobile">Hiển thị</div>
            <select class="select" [(ngModel)]="filter()['page[size]']" (ngModelChange)="onChangePageSize($event)">
              <option [value]="item.value" *ngFor="let item of pageSizeOption">{{item.label}}</option>
            </select>
            <div class="hidden-by-mobile">mục</div>
          </div>
        </div>
        <div class="right-table-footer hidden-by-mobile">
          <div class="total-item">Tổng số mục: {{ dataPokemons()?.meta!.total || 0}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<modal #myModal [show]="!!idModal" [title]="null" [showFooter]="false" (close)="idModal=null">
  <pokemon-detail [id]="idModal" *ngIf="idModal" />
  <!-- <div>
    <img [src]="'https://api.vandvietnam.com/api/pokemon-api/pokemons/01H5GXS3PSZ5V4DBCR31S64SDJ/sprite'" alt="">
    <p>Modal content goes here.</p>
  </div> -->
  <ng-container ngProjectAs="footer">
    <div class="footer-modal">
      <button class="btn btn-primary" (click)="idModal=null">Đóng</button>
    </div>
  </ng-container>
</modal>